
<div class="container-fluid contianer-fluid-custom pb-5 mb-5">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-primary 
      text-decoration-none fw-bold fs-2">
        Notes
      </a>

     <form action="/dashboard/search" class="nav col-12 col-md-auto flex-fill mb-2 justify-content-center mb-md-0" role="search" method="POST">
        <input type="search" name="searchTerm" class="form-control border-primary"placeholder="search...." aria-label="search">
     </form>

      <div class="col-md-3 text-end">
        <a href="/logout" type="button" class="btn btn-outline-primary me-2">LogOut</a>
        
      </div>
    </header>
  </div>
<body>
  <div class="contauner-fuild container-fluid-custom pb-5 mb-5">

    <div class="row m-4">
      <div class="col">
        <h1>Hey, <%= Username %></h1>
      </div>
      <div class="col tex-end">
    <a href="/addnote" class="btn btn-primary">+ New Note</a>
      </div>
    </div>
  </div>
  
  
  <div class="row">
  <% if(Note.length > 0) { for (var i =0; i < Note.length; i++){ %>
      <div class="col-sm-3 mb-4">

        <div class="card border-primary" style="min-height:210px">
          <a href="/item/<%= Note[i]._id %>"class="card-body text-decoration-none"> 
            <h5 class="card-title"><%= Note[i].title %></h5>
            <p class="card-text"><%= Note[i].body %></p>

          </a>
        </div>
      </div>
   <% } } else{  %>
<div class="row">
  <div class="col-3">
    <img src="/image/human-3.svg" alt="human point finger to the create button">
  </div>
  <div class="col mt-md-4">
    <h2>Okay....</h2>
    <h4>Let's start with your first note!</h4> <br><br>
    <a href="/addnote">Create One</a>
  </div>
</div>

   <% } %>


<% if(Note.length > 0) %>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt=5">
<% if (current == 1) { %>
  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
<% } else { %>
  <li class="page-item"><a class="page-link" href="/dashboard">First</a></li> 
<% } %>
 
<% var i =(Number(pages) > 5 ? Number(pages) - 4 : 1) %>
<% if (i !== 1) { %>
  <li class="page-item"><a class="page-link" href="#">...</a></li>
  <% }  %>
  
<% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
  <% if (i == current) { %>
    <li class="page-item"><a class="page-link" href="#"><%=i %></a></li>

 <% } else { %>
  <li class="page-item"><a class="page-link" href="/dashboard/?page=<%= i%>"><%=i %></a></li>

  <% } %>
  <% } %>

  <% if (i == Number(current) + 4 && i < pages) { %>
    <li class="page-item"><a class="page-link" href="#">...</a></li>
  <% } %>

  <% if (current == pages) { %>
    <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>

 <% } else { %>
  <li class="page-item"><a class="page-link" href="/dashboard/?page=<%= pages %>">Next</a></li>

<% } %>


    </ul>
  </nav>

 
  </div>
</body>